
.post-text {
	font-family:monospace;
	font-size: 100%;
    padding-bottom: 10px;
}

.post-info {
	font-family: monospace;
}

#post-body{
	font-family:monospace;
	font-size: 150%;
    width: 50%;
    text-align: center;
}

#submit-post {
	font-family:monospace;
	font-size: 100%;
}


#title {
	color:  skyblue;
	text-shadow: 4px 2px black;
	border: none;
	padding: 0.25em;
    font-size: 250px;
}

#main {
    text-align: center;
}

#menu-list {
	padding: 10px;
    padding-left: 150px;
	padding-right: 150px;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

#menu-list li {
	/*margin-left: 1em;*/
	flex: 1;
	text-align: center;
}



 nav {
background-color: black;
text-align: left;
        }

nav ul{
list-style:none;
    }

 nav li{
 display: inline;
        }

nav a{
display: inline-block;
padding: 15px;
background-color:skyblue;
color: black;
text-decoration: none;
    font-size: 25px;
             }

nav a:hover{
 background-color: black;
color: whitesmoke;
        }

p{
    font-size: 50px;
    text-align: center;
}

a{
    font-size: 30px;
    color: black;
    text-decoration: underline;
}
h1{
    font-size: 75px;
    text-align: center;
    color:  skyblue;
	text-shadow: black;
}

h2{
    text-align: center;
    color: red;
    font-size: 30px;
}

body{
    background-color: whitesmoke;
    margin:0 auto;
              width:100%;
              margin-top:0 auto;
}

